* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --background-color: #84849f;
  --background-color2: #bdc1c7;
  --color: #333;
}

body,
html {
  height: 30%;
}

img {
  border-radius: 25px 25px;
  max-width: 100%;
  height: auto;
  margin: 25px 0;
  padding: 15px;
}

p {
  max-width: 300px;
  max-height: 300px;
}

h2 {
  font-size: 18px;
  color: var(--color);
  text-decoration: underline;
  transition: color 0.3sec;
  cursor: pointer;
}

h2:hover {
  color: cyan;
}

.hero-image {
  background-image: linear-gradient(
    90deg,
    rgba(212, 212, 215, 1) 0%,
    rgba(132, 132, 159, 1) 35%,
    rgba(0, 245, 255, 1) 100%
  );

  height: 100vh;

  background-position: center;
  background-size: cover;
  position: relative;
}
/* Navigation Bar & Header */
.navbar {
  background: #84849f;
  color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
}

.primary-icon {
  height: 200px;
}

.nav-list .list-item {
  list-style-type: none;
  display: inline-block;
  padding: 20px 10px;
}

.navbar a {
  color: rgb(45, 45, 45);
  text-decoration: none;
  transition: color 0.3sec;
}

.navbar a:hover {
  color: aliceblue;
}

/* Grid */
.row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.column {
  background-color: var(--background-color2);
  padding: 1rem 0;
  /* flex: 1; */
  text-align: center;
}

.col-one-half {
  flex: 2;
}

/* Footer */
footer {
  background-color: var(--background-color);
  color: var(--color);
  padding: 4rem 1 rem;
}

footer a {
  color: aliceblue;
  text-decoration: none;
  transition: color 0.3sec;
}

footer a:hover {
  color: cyan;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  margin-bottom: 4rem;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}
.footer-heading {
  margin-bottom: 1rem;
}

.footer-link {
  display: block;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}

.footer-bottom {
  display: flex;
}
.copyright {
  margin-right: auto;
}

/* Responsive Design */
@media all and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }

  .navbar .container-icon {
    width: 100%;
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  .nav-list .list-item {
    display: block;
    border-top: 1px dashed aliceblue;
  }

  .primary-icon {
    margin-top: 10px;
    margin-left: 10px;
  }

  .row {
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 100%;
  }

  .footer-main {
    flex-direction: column;
  }
}
